name: Deploy Cloud Function

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: 'actions/checkout@v4'

      - name: Auth
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Deploy GCF
        uses: 'google-github-actions/deploy-cloud-functions@v4'
        timeout-minutes: 10
        with:
          name: 'smg-tussen'
          entry_point: 'webhook'
          region: 'europe-west4'
          runtime: 'nodejs22'
          memory: '256Mi'
          event_trigger_retry: false

  webhook:
    runs-on: ubuntu-latest
    needs: deploy

    steps:
      - name: Set webhook
        run: |
          curl -X POST "https://api.telegram.org/bot${{ secrets.BOT_TOKEN }}/setWebhook" \
            -H "Content-Type: application/json" \
            -d '{"url":"${{ secrets.URL }}","secret_token":"${{ secrets.X_TOKEN }}","drop_pending_updates":true,"max_connections":1,"allowed_updates":["message"]}'

  cleanup:
    runs-on: ubuntu-latest

    needs: deploy

    permissions:
      actions: write

    steps:
      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 3 
